[user]
  name = Ryan Wood
  email = ryan.wood@gmail.com 
[color]
  status = auto
  diff = auto
  branch = auto
[alias]
  ci = commit -a
  co = checkout
  st = status
  br = branch
  llog = log --date=local
  tree = log --graph --oneline --all
[merge]
  tool = vimdiff
[core]
  excludesfile = /Users/ryanwood/.gitignore
[apply]
  whitespace = strip
[diff]
  color = auto
  rename = copy
[pager]
  color = true
[status]
  color = auto
[github]
	user = ryanwood
	token = 5407ae6aefccd5ec5d9291d5044307dc
[push]
  default = current
